# === Системные файлы ===
.DS_Store
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# === Редакторы и IDE ===
# Visual Studio Code
.vscode/
!.vscode/extensions.json
*.code-workspace

# JetBrains (PyCharm, WebStorm, IntelliJ, etc.)
.idea/
*.iws
out/

# Sublime Text & Vim
*.sublime-project
*.sublime-workspace
*~
*.swp
*.swo

# === Логи и кэш ===
*.log
logs/
.cache/
.eslintcache
.npm/

# === Секреты и окружение (на всякий случай) ===
*.pem
*.key
